.heading {
  font-weight: 900;
  font-family: sans-serif;
}

#user-section {
  display: flex;
}

.vehicalForm {
  border: 1px solid black;
  padding: 10px;
  width: fit-content;
  border-radius: 5px;
  border-color: rgb(145, 145, 145);
  margin: auto;
}

.vehicalForm label {
  font-weight: 600;
  font-family: sans-serif;
  color: rgb(250, 142, 0);
}

.vehicalForm input[type="text"] {
  height: 20px;
  width: 300px;
  border: none;
  background-color: antiquewhite;
  border-radius: 5px;
  padding: 10px;
}

.saveBtn {
  width: 200px;
  height: 35px;
  background-color: rgb(128, 255, 44);
  border: none;
  border-radius: 5px;
  font-weight: 700;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.vehicle-section {
  border: 1px solid black;
  padding: 20px;
  text-align: center;
  font-family: sans-serif;
  background-color: antiquewhite;
  border: none;
  border-radius: 5px;
  margin: auto;
}

.vehicle-section h4 {
  font-size: 20px;
}
.vehicle-section p {
  font-weight: 600;
  font-size: 24px;
}

.vehicle-list {
  margin-top: 40px;
}

.vehicle-list table {
  width: 80%;
  border: 1px solid black;
  margin: auto;
  font-family: sans-serif;
  color: rgb(49, 49, 49);
}
.vehicle-list td,
table,
tbody {
  border-collapse: collapse;
}

.vehicle-list table td {
  padding: 10px;
}

.vehicle-list table tr:nth-child(even) {
  background-color: antiquewhite;
}

.vehicle-list thead{
  background-color: rgb(255, 145, 0);
  font-weight: 900;
}

.tableMsg{
  font-family: sans-serif;
  color: red;
}